/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Utility classes */
@media (max-width: 767px) {
  .mw-md-100 {
    max-width: 100%;
  }
}

select, html {
  scrollbar-width: thin;
  scrollbar-color: #1ed760 transparent;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  color: #1ed760;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

html.active {
  overflow-y: hidden;
}

/* Customize scrollbar in Chrome */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1ed760;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #159442;
}

/* Start the header */
#overlay {
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 3;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.navbar {
  height: 80px;
  background-color: black;
}

.navbar.active .navbar__navigation {
  right: 0;
  opacity: 1;
  -webkit-transition: right 0.25s, opacity 0.25s;
  transition: right 0.25s, opacity 0.25s;
}

.navbar.active .navbar__item {
  opacity: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.navbar.active .navbar__item:nth-of-type(1) {
  -webkit-animation: move 0.1s 0.03333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.03333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(2) {
  -webkit-animation: move 0.1s 0.06667s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.06667s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(3) {
  -webkit-animation: move 0.1s 0.1s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.1s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(4) {
  -webkit-animation: move 0.1s 0.13333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.13333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(5) {
  -webkit-animation: move 0.1s 0.16667s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.16667s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(6) {
  -webkit-animation: move 0.1s 0.2s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.2s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__item:nth-of-type(7) {
  -webkit-animation: move 0.1s 0.23333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
          animation: move 0.1s 0.23333s cubic-bezier(0.57, 0.06, 0.79, 0.95) forwards;
}

@keyframes move {
  from {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.navbar.active .navbar__toggle span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar.active .navbar__toggle span:nth-child(2) {
  opacity: 0;
}

.navbar.active .navbar__toggle span:last-child {
  -webkit-transform: rotate(45deg) translateX(3px);
          transform: rotate(45deg) translateX(3px);
}

@media (max-width: 991px) {
  .navbar {
    height: 54px;
  }
}

.navbar__logo {
  width: 130px;
}

@media (max-width: 991px) {
  .navbar__logo {
    width: 95px !important;
  }
}

.navbar__navigation {
  gap: 2rem;
  -webkit-transition: right 1.5s, opacity 0.15s 0.05s;
  transition: right 1.5s, opacity 0.15s 0.05s;
  z-index: 5;
}

@media (max-width: 991px) {
  .navbar__navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 447px;
    max-width: 100vw;
    height: 100vh;
    background-color: black;
    max-width: 100%;
    padding: 38px !important;
    gap: 0.8rem;
    opacity: 0;
  }
}

.navbar__item {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .navbar__item {
    font-size: 36px;
    width: 100%;
  }
  .navbar__item--logo {
    width: 130px;
    bottom: 38px;
  }
}

@media (max-width: 991px) and (max-width: 991px) {
  .navbar__item--logo {
    width: 95px !important;
  }
}

.navbar__item--separator {
  height: 16px;
  width: 1px;
}

@media (max-width: 991px) {
  .navbar__item--separator {
    height: 2px;
    width: 20px;
    margin: 20px 0;
  }
}

.navbar__item--signUp, .navbar__item--logIn {
  color: #d9dadc;
}

@media (max-width: 991px) {
  .navbar__item--signUp, .navbar__item--logIn {
    font-size: 25px;
    font-weight: 500;
  }
}

.navbar__toggle {
  z-index: 10;
  width: 23px;
  height: 23px;
  gap: 0.25rem;
  cursor: pointer;
}

.navbar__toggle span {
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__toggle span:not(:nth-child(2)) {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

/* Start the showcase section */
.showcase {
  min-height: 846px;
  height: 100vh;
  background-image: url("../images/home/desktop.svg");
  background-size: 175%;
  background-position: 46% 4%;
  background-repeat: no-repeat;
  background-color: #2941ab;
}

@media (max-width: 1199px) {
  .showcase {
    background-image: url("../images/home/tablet.svg");
    background-size: 153%;
    background-position: right 40% center;
    background-repeat: no-repeat;
    background-color: #2941ab;
    min-height: 0;
  }
}

@media (max-width: 575px) {
  .showcase {
    background-image: url("../images/home/mobile.svg");
    background-size: 195%;
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-color: #2941ab;
  }
}

.showcase__heading {
  font-size: 140px;
  font-weight: 900;
  color: #1ed760;
  line-height: 170px;
  -webkit-transform: translateX(125px);
          transform: translateX(125px);
}

@media (max-width: 1199px) {
  .showcase__heading {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    font-size: 90px;
    line-height: 110px;
  }
}

@media (max-width: 767px) {
  .showcase__heading {
    font-size: 80px;
    line-height: 95px;
  }
}

@media (max-width: 575px) {
  .showcase__heading {
    font-size: 40px;
    line-height: 1.4;
  }
}

.showcase__heading span {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

@media (max-width: 1199px) {
  .showcase__heading span {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.showcase__paragraph {
  margin-bottom: 2.5rem;
  color: #1ed760;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .showcase__paragraph {
    width: 400px;
  }
}

@media (max-width: 575px) {
  .showcase__paragraph {
    width: 300px;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 2.2rem;
  }
}

.showcase__button {
  background-color: #1ed760;
  color: #2941ab !important;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
}

.showcase__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #36e374;
}

/* Start the footer */
.footer {
  padding: 80px 0 50px;
  background-color: black;
  color: white;
}

@media (max-width: 991px) {
  .footer {
    padding: 50px 0 30px;
  }
}

@media (max-width: 767px) {
  .footer .container {
    max-width: 100%;
  }
}

.footer__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto auto;
      grid-template-columns: 200px auto auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
}

@media (max-width: 1199px) {
  .footer__navigation {
    -ms-grid-columns: 160px auto auto;
        grid-template-columns: 160px auto auto;
  }
}

@media (max-width: 991px) {
  .footer__navigation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer__logo {
  width: 130px;
}

@media (max-width: 991px) {
  .footer__logo {
    width: 95px !important;
  }
}

.footer__lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  top: 20px;
}

@media (max-width: 1199px) {
  .footer__lists {
    gap: 4rem;
  }
}

@media (max-width: 991px) {
  .footer__lists {
    margin-bottom: 8rem;
    gap: 0;
    width: 100%;
    top: 0;
  }
}

@media (max-width: 767px) {
  .footer__lists {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.footer__link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.9rem;
}

.footer__link--description {
  font-size: 0.8rem;
  font-weight: 700;
  color: #919496 !important;
}

.footer__link:not(:last-child) {
  margin-bottom: 1.3rem;
}

.footer__socials {
  gap: 1rem;
}

@media (min-width: 992px) {
  .footer__socials {
    top: 20px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__social {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #222326;
  color: white;
  cursor: pointer;
}

@media (max-width: 991px) {
  .footer__social {
    width: 44px;
    height: 44px;
  }
}

.footer__social:hover i {
  color: #1ed760;
}

.footer__social i {
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__country {
  margin: 6rem 0 0.5rem;
  font-size: 13px;
  color: #919496;
}

@media (max-width: 991px) {
  .footer__country {
    margin: 1rem 0;
  }
}

@media (max-width: 767px) {
  .footer__country {
    font-size: 11px;
  }
}

.footer__bottomLinks {
  font-size: 12px;
  color: #919496;
}

@media (max-width: 767px) {
  .footer__bottomLinks {
    font-size: 9px;
  }
}

.footer__bottomList {
  gap: 1.5rem;
}

@media (max-width: 575px) {
  .footer__bottomList {
    line-height: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.footer__copyright {
  white-space: nowrap;
}
