//- Some constants
- const footerList1 = ['company', 'About', 'Jobs', 'For the Record'];
- const footerList2 = ['communities', 'For Artists', 'Developers', 'Advertising', 'Investors', 'Vendors'];
- const footerList3 = ['useful links', 'Support', 'Web Player', 'Free Mobile App'];
- const footerList4 = ['Legal', 'Privacy Center', 'Privacy Policy', 'Cookies', 'About Ads', 'Additional CA privacy Disclosures'];
- const flex = ['d-flex', 'align-items-center', 'justify-content-center'];
- const centerVertically = flex.slice(0,2).join(' ');
- const centerHorizontally = flex.filter((item, index) => index !== 1).join(' ');